# Option to Hide Public in the URL, just uncoment, rename server.php to index.php and remove the htacces in the public folder
<IfModule mod_rewrite.c>


    RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !(\.([a-zA-Z0-9]{2,})|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(css|js|img|plugins|modules|fonts)/(.*)$ public/$1/$2 [L,NC]


</IfModule>

