[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#chat_users_list{
	position: fixed;
	right: 0;
	bottom: 0 !important;
	margin: 2px !important;
	width: 275px;

}

#messages-box-wrapper li{
	list-style: none;
}

#chat_windows_container{
	position: fixed;
	right: 280px;
	bottom: 0 !important;
	margin: 2px !important;
	width: 850px;
}

.direct-chat-text{
	margin-left: 3px !important;
	margin-right: 3px !important;
}

.chat-window{
	margin-left: 5px;
	position: fixed;
	bottom: 2px;
	display: inline-block;
	width: 275px;
	margin-bottom: 0 !important;
}

#chat_search{
	position: absolute;
	left: 0;
}

#chat_search_field{
	width: 230px !important;
	padding-left: 25px;
}

.li-chat-control:hover{
	background: #222d32 !important;
}

.chat_list_img{
	width: 35px;
	height: 35px;
}

.chat-item{
	padding: 5px;
	border: 1px solid #DBDBDB;
	background: #F6FEFF;
}

.chat_menu{
	margin-top: 40px;
}

.chat_menu h4{
	margin-left: 45px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size:15px ;
}

.chat_menu li{
	background: #222d32;
	color: #b8c7ce;
	padding:10px 15px;
}

.chat_menu small{
	margin-left: 10px !important;
}

.box-footer-primary{
	border-top: none;
	background: #3c8dbc;
}

.chat_menu li:hover{
	background: #181f23;
	cursor: pointer !important;
	width: 100% !important;
}

.bg-dark-blue{
	background: #222d32;
}

.status-chat{
	font-size: 10px;
	color: #AEAEAE;
	position: absolute;
	bottom: 5px;
	right: 4px;
}
.direct-chat-text{
	padding-right: 16px;
}
.status-chat1{
	color: #4DC631;
}
.status-chatR{
	display: none;
}
.status-chat3{
	color: #CD0000;
}
.chat-text-area{
	font-size: 12px;
	max-height: 54px;
	min-height: 54px;
	resize:none;
}
.btn-rounded{
	height: 54px;
}
.send-chat-message .help-block{
	margin-bottom: 7px;
	margin-top: 3px;
}
.chat-window .box-footer{
	padding-top: 0 !important;
}
.visNone{
	visibility: hidden;
}
.direct-chat-text{
	width: 85%;
    word-break: break-all;
}
.right .direct-chat-text{
	float: right;
}

h3.chat-title{
	font-size:14px !important;
}

.messages-menu .slimScrollDiv, .messages-menu .message-header-menu{
	height: auto !important;
	max-height: 300px;
}

.chat-user-header img{
	width: 35px !important;
	height: 35px !important;
}

.chat-msg-header-0{
	background: #FFF3F3;
}

.chat-user-header:hover{
	background: #FFD9D9 !important;
}

.count-unread{
	position: absolute;
	right: 7.5px;
}

#ulHeaderMenuChat .fa-check {
	position: absolute;
	right: 7.5px;
}

.li-chat-control{
	padding-left: 0 !important;
}


#chat_search_field{
	border-color: #222d32;
	background-color: #EEF6FA;
}

#chat_search_field:focus{
	background-color: white !important;
}

#chat_menu_list{
	width: 100%;
	position: absolute;
	left: 0;
	padding: 0 !important;
	max-height: 300px;
	overflow-y:auto;
	overflow-x: hidden;
}
.input-fa-wrapper{
	position: relative;
}
.fa-search-input{
	 position: absolute;
	 top: 11px;
	 left: 7.5px;
	 color: #222d32;
	 z-index: 2000000;
}
.msg-footer{
	border: none !important;
}

#go-to-message{
	border: none !important;
    color: #888888;
    font-size: 12px;
	background: #fff !important;
	border-radius: 0 !important;
}

#go-to-message:hover, #go-to-message:active{
	border: none !important;
	background: whitesmoke !important;
}

.day-marker{
	list-style: none !important;
}