.red-pin{
	left: 41.1px;
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #f33;
	background-image: -webkit-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: -moz-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: -ms-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: -o-linear-gradient(top, rgba(100,0,0,0), rgba(255,90,90,1));
	background-image: linear-gradient(to bottom, rgba(100,0,0,0), rgba(255,90,90,1));
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	box-shadow: 0 0 0 1px #c00, inset 0 1px 1px rgba(255,255,255,.6), 0 2px 2px rgba(0,0,0,.4);
	position: relative;
}

.tarefa{
	background: linear-gradient(to bottom, rgba(255,255,255, 0.05), rgba(255,255,255, 0.25));
	text-align: left !important;
	margin: 5px;
	/*margin-left: auto;*/
	display: inline-block;
	opacity: 0.9;
	width: 90px;
	height: 115px;
     -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
}

.tarefa:hover{
	cursor: move;
}

.tarefa .label{
	margin-top: 1px;
	margin-right: 3px;
	width: 18px;
	border:1px solid white;
}

.tarefa-body{
	position: relative;
	width: 90%;
	margin-left: 5%;

}

.tarefa-body .tarefa-title{
	font-size:11.5px;
	margin-bottom: 3px !important;
	height: 48px;
	max-width: 100%;
	max-height: 
	text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.tarefa-body .tarefa-title:hover{
	text-decoration: underline;
	cursor: move;
}

.tarefa-body .tarefa-list{
	list-style: none;
	padding-left: 3px;
	font-size:10px;
	margin-bottom: 3px;
}

.tarefa .tarefa-footer{
	bottom: 0;
	position: relative;
}

.tarefa-footer .tarefa-img{
	width: 22px;
	height: 22px;
	margin-top: 3px;
	display: inline-block;
}

.tarefa-footer .tarefa-img:hover{
	cursor: pointer;
	opacity: 0.7;
}

.tarefa-img-user{
	position: relative;
	margin-left: 7px;
}

.tarefa-img-tipo{
	position: relative;
	margin-right: 7px;
	float: right;
}

.box-kanban{
	margin-bottom: 10px;
}

.box-kanban hr{
	margin-top:5px;
	margin-bottom: 10px;
}

.box-kanban .form-group{
	margin-right: 5px;
	margin-bottom: 5px;
}

.table_kanban{

	table-layout:fixed;
	border-spacing: 2px;
    border-collapse: separate;
    width: 100%;
}

.table_kanban th{
	text-align: center;
	border-radius: 5px;
	padding: 3px !important;
}

#historia-table-header{
	width: 8%;
}

th span.hidden{
	display: inline-block !important;
	visibility: hidden;
}

 td.column-collapsed{
	background-color: #A4A4A4 !important;
}

.column-hover{
	float: right;
	margin-right: 5px;
}

.column-collapse:hover{
	cursor: pointer;
}


.story-button{
	margin-top: 10px;
}

.tarefa-group{
	position: relative;
	top: 3px;
	left: 3px;
}

.table_kanban td {
	height: 130px !important;
	text-align: center;
	padding: 5px;
    padding-bottom: 10px;
    vertical-align: top;
    height: auto;
}

.table_kanban th{
	text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.tarefa-wrapper{
	display:block;
}

.td-story{
	 word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
    text-align: center;
}

.check-group{
	margin-bottom: 0 !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-group label:hover{
	cursor: pointer;
}

.btn>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.widget-user{
	margin: 0 !important;
	width: 100% !important;
}
.widget-user-header{
	border-radius: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.panel-criar-tarefa .nav-tabs-custom{
	border-bottom: 0 !important;
	margin-bottom: 0 !important;
}
