.checkSettings{
	margin-left: 4px;
	cursor: pointer;
}

.fa-s-header{
	font-size: 12px !important;
	color: #97a0b3 !important;
	font-weight: normal !important;
}

.box-s-collapse:hover{
	cursor: pointer !important;
}

.loading {
    width: 32px;
    height: 32px;
    clear: both;
    margin: auto;
    border: 4px rgba(51,51,51,0.25) solid;
    border-top: 4px rgba(51,51,51,1) solid;
    border-radius: 50%;
    -webkit-animation: loadingAnimation .6s infinite linear;
    animation: loadingAnimation .6s infinite linear;
}
@-webkit-keyframes loadingAnimation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes loadingAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}