.snoLote{
  background-color: #283744 !important;
}

.selectedInput{
  background-color: #F0FFF0 !important;
  border:1px solid #AFAFAF !important;

}

.pointInputs{
  height:30px !important;
  padding: 3px 6px !important;
}
.row-qtd{
  padding-left:3px !important;
}

.nfInput{
  margin-top:5px;
}

#lotPointer.dataTable tr td:not(:first-child):empty {
    background: rgba(51,51,51,0.1);

}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        display: table-header-group;
    }

.navForm{
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.lodImg{
    width:10%;
    margin-left:45%;
}
.emptyTable{
border: 1px solid whitesmoke !important;
background-color: #f9f9f9 !important;

}

.emptyTable:hover{
    background-color: whitesmoke !important;
}

.btn-download { border-color: #232323; background-color: #3B3B3B; color: #fff; padding:3px 6px !important;font-size:12px; }

.btn-download:hover { border-color: black; background-color: black; color: #DEDEDE !important; }

.btn-download:active { border-color: #232323; background-color: #3B3B3B; color: #fff !important; }

.panel-body{
    margin-bottom: 20px;
}

.toBeHidden .fa-download:hover{
    color:#283744 !important;
}

#noSort .toBeHidden td p{
    font-size: 14px !important;
    margin:3px 0 0 0 !important;
}

.img-icon img{
    height: 25px !important;
    padding: 0 !important;
    margin: 3px 0 0 0 !important;
    width: auto;
}

.lessMargin{
    margin:5px 0;
}

.navForm .form-group{
    margin-right:10px;
}

.labelLine{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333;
}

.panel-green {
    border: 1px solid #5cb85c !important;
}

.panel-padrao {
    border: 1px solid #283744 !important;
}

.main-footer {
background: #fff;
padding: 5px;
color: #444;
border-top: 1px solid #d2d6de;
bottom: 0;
left: 0;
/*position: absolute; */
right: 0;
z-index: 999;
}

html{
    position: relative;
    background-color: #ecf0f5;
}

.TypeLoadingC{
  width: 20px;
    height: 20px;
    clear: both;
    margin: auto;
    border: 4px rgba(255,255,255,1) solid;
    border-top: 4px #A0A0A0 solid;
    border-radius: 50%;
    -webkit-animation: TypeLoadinganimation .6s infinite linear;
    animation: TypeLoadinganimation .6s infinite linear;
}

.closeIt:hover{
  cursor:pointer;
}

.TypeLoadingb{
    width: 35px;
    height: 35px;
    clear: both;
    margin: auto;
margin-top:15px;
    border: 4px rgba(51,51,51,0.25) solid;
    border-top: 4px rgba(51,51,51,1) solid;
    border-radius: 50%;
    -webkit-animation: TypeLoadinganimation .6s infinite linear;
    animation: TypeLoadinganimation .6s infinite linear;
}

.TypeLoading{
    width: 32px;
    height: 32px;
    clear: both;
    margin: auto;
    border: 4px rgba(51,51,51,0.25) solid;
    border-top: 4px rgba(51,51,51,1) solid;
    border-radius: 50%;
    -webkit-animation: TypeLoadinganimation .6s infinite linear;
    animation: TypeLoadinganimation .6s infinite linear;
}
@-webkit-keyframes TypeLoadinganimation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes  TypeLoadinganimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}



.huge{
    font-size:26px;
}

.obraContatos .row .col-lg-4:nth-child(3n+4) {  
clear:left;
}

.bg-padrao{
    background-color: #283744 !important;
    color: #f5f5f5 !important ;
}
#noSort td{
    white-space: normal;
}

#noSortObra td{
    white-space: normal;
}


.tableEtapa{
    color: #222222 !important;
    background-color: #FBBB78 !important;
}

.tableEtapaIndice{
  color: #FBBB78 !important;
}

.tableEtapa:hover{
    background-color: #F9AF62 !important;
}

.hoverActions a:hover{
    color: #C6C6C6 !important;
}

.nav-tabs-custom > .nav-tabs > li.active{
    border-top-color: #42596D !important;
}

#subToggle:hover, .clickTable:hover{
    cursor: pointer;
}

.closePanel{
    float:right;
    margin-right:5px;
}
.closePanel:hover{
    cursor: pointer;
    color:#525252;
}



.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}



.panel-padrao .panel-heading {
    border-color: #283744;
    color: #f5f5f5;
    background-color: #283744;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f !important;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e !important;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-list a{
    text-decoration: none;
    color: #323232;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.panel-list span{
    color: #323232;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
}

.panel-primary a:hover {
    color:#223BB7;
}

#xsuccess:hover, #xerro:hover {
    cursor: pointer;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving{
    color: #424242;
}
.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}