/* 

    MAIN STYLES

 */

body{
    font-family: 'open_sansregular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding-bottom: 0 !important;
}

.panel-heading h4{
    padding: 0 !important;
}

a.pull-right{
    margin-right: 15px;
}

a.pull-left{
    margin-left: 15px;
}

button.pull-right{
    margin-right: 15px;
}

button.pull-left{
    margin-left: 15px;
}

.not_read_yet{
    background-color: #FFEDED !important;
    border-color: #FFE2E2 !important;
}
.not_read_yet:hover{
    background-color: #FFE2E2 !important;
}

.logo{
    background: #F7F7F7 !important;
}

.navbar-static-top a{
   height: 50px !important;
   margin: none !important;
    border-left: 1px ridge rgba(200,200,200,0.2);
}

.navbar-static-top a:focus{
    border-left: 1px ridge rgba(200,200,200,0.2);
}

.notifysDown:hover{
     border-left: 1px ridge rgba(200,200,200,0.2) !important;
}

.notifications-menu:focus{
     border: none !important;
}

.sidebar-toggle{
    border-right: 1px ridge rgba(200,200,200,0.2);
}

.notFooter a{
    width: 50%;
    height: 34px !important;
    border: 1px solid  #FFEDED !important;
    display: inline-block !important;
    
}

.notFooter a:hover{
    background: #FFEDED !important;
    border-color: #FFE2E2 !important;
}

.delete_notification{
    font-size: 12px;
    color: #DB0000;
}

.delete_notification:hover{
    color: #4E0202;
}

.deleteListedNotify:hover{
    color: #4E0202 !important;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
.user-panel>.image>img{
    width: 100%;
    max-width: 45px;
    height: 45px;
    border: 2px solid #5E6366;
    padding: 2px;    
}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -7px;
    border: 1px solid #CCC;
    padding: 1px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgb(94, 94, 94);
    padding: 2px;
}

/* DATATABLES */
table.dataTable tr.selected td.select-checkbox:after {
    content: &#xf096 !important;
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
}
td.dataTables_empty {
    padding: 50px;
    height: 50px;
    line-height: 50px;
}
div.dataTables_wrapper div.dataTables_processing {
    /* position: absolute; */
    /* top: 0 !important; */
    /* left: 0 !important; */
    /* width: 100% !important; */
    /* margin-left: 0 !important; */
    /* margin-top: 37px !important; */
    /* text-align: center; */
    /* padding: 1em 0; */
    /* background: rgba(34, 45, 50, 0.6); */
    /* color: white; */
    /* font-size: 18px; */
    /* height: 100%; */
    /* vertical-align: middle; */
    /* line-height: 100%; */
    /* border: none; */
    /* border-radius: 0; */
}

/* FORMS */
.form-control {
    border-radius: 3px;
}
/* DATEPICKER */
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: #F1F1F1 !important;
    color: #D2D2D2;
    cursor: default;
    border-radius: 0px;
}


/* SIDEBAR */
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block
}

.sidebar-menu>li>a>.fa,.sidebar-menu>li>a>.glyphicon,.sidebar-menu>li>a>.ion {
    width: 20px
}

.sidebar-menu>li .label,.sidebar-menu>li .badge {
    margin-top: 3px;
    margin-right: 5px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

.sidebar-menu li>a>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px
}

.sidebar-menu li.active>a>.fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sidebar-menu li.active>.treeview-menu {
    display: block
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px
}

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px
}

.sidebar-menu .treeview-menu>li {
    margin: 0;
    padding: 3px 0px;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 21px;
    display: block;
    font-size: 12px;
}

.sidebar-menu .treeview-menu>li>a>.fa,.sidebar-menu .treeview-menu>li>a>.glyphicon,.sidebar-menu .treeview-menu>li>a>.ion {
    width: 20px
}

.sidebar-menu .treeview-menu>li>a>.fa-angle-left,.sidebar-menu .treeview-menu>li>a>.fa-angle-down {
    width: auto
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,.sidebar-mini.sidebar-collapse .right-side,.sidebar-mini.sidebar-collapse .main-footer {
        margin-left:50px!important;
        z-index: 840
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px!important;
        z-index: 850
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        position: relative
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
        margin-right: 0
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
        border-top-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        display: block!important;
        position: absolute;
        width: 180px;
        left: 50px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
        top: 0;
        margin-left: -3px;
        padding: 12px 5px 12px 20px;
        background-color: inherit
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        top: 44px;
        margin-left: 0
    }

    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info,.sidebar-mini.sidebar-collapse .sidebar-form,.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span,.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,.sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none!important;
        -webkit-transform: translateZ(0)
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
        display: none
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px
    }
}

.sidebar-menu,.main-sidebar .user-panel,.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden
}

.sidebar-menu:hover {
    overflow: visible
}

.sidebar-form,.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip
}

.sidebar-menu li>a {
    position: relative
}

.sidebar-menu li>a>.pull-right {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px
}

.logoHeader{
    width: 200px;
    height: 40px;
    margin-bottom: 3px;
}

.iconHeader{
    width: 32px;
    height: 40px;
    margin-bottom: 2px;
}

.loading {
    
    width: 32px;
    height: 32px;
    clear: both;
    margin: auto;
    border: 4px rgba(51,51,51,0.25) solid;
    border-top: 4px rgba(51,51,51,1) solid;
    border-radius: 50%;
    -webkit-animation: loadingAnimation .6s infinite linear;
    animation: loadingAnimation .6s infinite linear;
}
@-webkit-keyframes loadingAnimation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes loadingAnimation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.overlay > .fa,
.overlay-wrapper .overlay > .fa {
    z-index: 580;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.2);
}

#modal .modal-content{
    border-radius: 4px;
}

.modal_form input[type="text"] {
    width: 80%;
}
.modal_form input[type="email"] {
    width: 80%;
}
.modal_form input[type="url"] {
    width: 80%;
}
.modal_form textarea {
    width: 80%;
}

.modal_form select {
    width: 80%;
}

#control-sidebar-home-tab li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
.profile-pic > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
#control-sidebar-home-tab li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}
#control-sidebar-home-tab li.user-header > p > small {
  display: block;
  font-size: 12px;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic:hover .edit {
    display: block;
}

.edit {
    position: absolute;
   top:33px;
   left:40px;
   font-size:16px;
    display: none;
}

.edit a {
    
    color: #DCDCDC;
    text-shadow: 1 1 1 #000;
}

.edit a:hover {
    color: #52CAC6;
    text-shadow: 1 1 1 #fff;
}

#membros-wrapper p{
    margin-bottom: 0 !important;
}

.fa-sidebar{
    margin-top: 3px;
    margin-right: 25px;
}

.fa-sidebar:hover{
    color: #C5C5C5;
    cursor: pointer;
}

.settings-content input{
    padding: 1px 3px;
    height: 25px;
}

.settings-content .btn-xs{
    margin-left: 0 !important;
}

#estagios-sets-wrap p:hover{
    cursor: move;
}

.ui-sortable-helper td{
    border: none !important;
}

.ui-sortable-helper
{
   background:#b8c7ce;  
   color: #222d32; 
}

#sorEstagiosBody tr:hover{
    cursor: move;
}

.placeholderWrapper{
    background: #fff;
}

.placeholderWrapper2{
    background: #FF9393 !important;
}

.img-icon{
    width:15px;
    height:15px;
    margin-right: 5px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px -1px rgba(255,255,255,1);
}

.img-p-icon{
     width:18px;
    height:18px;
    margin-right: 8px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
}

.img-modal{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.proj-row:hover{
    cursor: pointer;
}

.btn-default-purple{
    background: #fff;
    color: #605ca8;
    border: 1px solid #605ca8;
}

.btn-default-purple:hover{
    color: #605ca8;
    background: #E9E9E9;
}

.fa-side-drop:hover{
    color: #C3C3C3 !important;
    cursor: pointer;
}

#modal .panel-body{
    margin-bottom: 0;
    padding-bottom: 0;
}

.empty-row{
    background: #f4f4f4;
}

.empty-row:hover{
    background: whitesmoke;
}

.edit-conf-estag:hover{
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.hoverPointer:hover{
    cursor: pointer;
}

#estagiosTable tbody{
    border-bottom: none;
    border-top: none;
}

.back-t-change{
    display: inline-block;
    border:1px solid #F6F6F6;
    border-radius: 100%;
    margin-right: 5px;
    width:15px;
    height:15px;
    vertical-align: bottom !important;
}

.back-t-change:hover{
    cursor: pointer;
}

.Tableodd{
    background-color: #fff !important;
}

.Tableodd:hover{
    background-color: #f5f5f5 !important;
}

.back-tp-change{
    display: inline-block;
    border:1px solid #A6A6A6;
    border-radius: 100%;
    margin-right: 8px;
    width:18px;
    height:18px;
    vertical-align: bottom !important;
    margin-bottom: 2px;
}

.back-tp-change:hover{
    cursor: pointer;
}

#go-to-top{
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    left: 50%;
}
